.font{
	font-family: 'Merriweather', serif;
}

.sansfont{ 
	font-family: 'Merriweather Serif', sans-serif;
}

#popup {
    margin:0;
    padding:1px 0;
    background-color:#404040;
    color:white;
    font-size:1rem;
    line-height: 1.25;
    font-weight:bold;
    margin-bottom:-1rem;
    
    border:2px black;
}
.noshow {
    display:none;
}



header{
    background-color: #008080;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    padding: 5px 0;
}

#motto{
    font-size: larger;
    left: -30px;
    font-family: 'Montserrat', serif;
    font-weight: bolder;
    padding-top: 62px;
   
}

#logo{
    size: 130px;
    top: -20px;
    


}



h1{
    color: white;
    background-color:#008080;
    height: 45px;
    position: absolute;
    top:7px;
    left: 37.5%;
    width: 337px;
    font-family: 'Montserrat', serif;
}

h2{
    font-size: 30px;
    font-family: 'Montserrat', serif;
    position: absolute;
    
    left: 44%;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Meriweather Serif', sans-serif; 
    max-width: 1200;
    min-width: 250;
}

nav{
    background-color: #404040;
    font-family: 'Montserrat', serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: sticky;
    
    
}


.navigation {
	list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.8rem 2%;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	font-weight: 700;
}

.active {
    background-color: #4c80b9;
  }

.responsive li {
	display: block;
}

.forecast{
    display: none;
   
}

#bannerImage{
    width: 80%;
    display: block;
    margin-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}

.summary {
    
    position: absolute;
    top:1.25rem;
    left:4rem;
    margin:0 auto;
    width:10rem;
    
   
    background:#014444;
    
    padding:.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5rem;
    border: 1px solid #fff;
    opacity: .9;
    box-shadow:0 0 30px #111;
    
    
}
.summary h3 {
    border:1px solid #f8f8f8;
    margin:.25rem .5rem;
    grid-row:1;
    grid-column:1/3;
    color: #f8f8f8;
    font-weight: 200;
    padding:.7px 0;
}
.summary p {
    
    color:  white;
    font-size: 1rem;
    line-height:1;
    text-align:right;
    font: outline;
    font-weight: 200;
    outline-color: #080808;
    margin:0;
   
    

}

#current {
    grid-row:2;
    grid-column: 2;
    
}
#temp {
    grid-row:3;
    grid-column: 2;;
}
#feelslike {
    grid-row:4;
    grid-column:2;

}
#humidity {
    grid-row:5;
    grid-column:2;

}
#windspeed {
    grid-row:6;
    grid-column:2;
}


.contentBox{
    margin-bottom:1rem;
    position:relative;
}



 article {
   
    text-align:left;
    display:flex;
    flex-direction: wrap;
    border:1px solid #17244D;
    background-color: #008080;
    margin-top: 7rem;
    margin-left: 10%;
    margin-right: 10%;
}
 h5 {
     font-weight: bold;
     font-size: large;
    text-align: left;
    margin-bottom: -.5rem;
    

    
    
}
.articleText{
    width: 100%;
}
.articleimage {
    width: 100%;
    
}
 
 
.contactInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:.5rem;
    padding: 1.25rem;
    margin-top:7rem;
    margin-bottom: -1rem;
    text-align:center;
    border:1px solid #17244D;
    background-color: #014444;
    margin-right: 10%;
    margin-left: 10%;

}
.contactInfo ul li {
    list-style-type: none;
    
    
    
}
.socialmedia {
    display:flex;
    flex-direction: row;
    margin:0;
    padding:0;
    

}



.contactInfo img.map{
    display: none;

}


footer{
    background-color: #008080;
    color: #fff;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: larger;
}

background{
	color: #f8f8f8;
}



